<template name="MaterialTeam">
    <div style="width: 100%;" layout horizontal center center-justified >
        <tw-team teamId="{{teamId}}">            
            <div layout vertical fit>
                <div layout vertical>
                    <paper-input-decorator label="Team name" error="We need a name"
                                           floatingLabel class="input-light">
                        <input is="core-input" id="label" type="text" value="{{name}}" required>
                    </paper-input-decorator>

                    <paper-input-decorator label="Team's description"
                                           floatingLabel>
                        <paper-autogrow-textarea id="autogrow-description">
                            <textarea id="description">{{description}}</textarea>
                        </paper-autogrow-textarea>
                    </paper-input-decorator>
                </div>
                <div layout flex>
                    Liste des membres
                        {{#each members}}
                        <div class="item">{{username}}</div>
                        {{/each}}                     
                </div>
            </div>
        </tw-team>
    </div>
</template>