<template name="MaterialTeam">
    <div style="width: 100%;">
        <tw-team teamId="{{_id}}">            
            <h2>{{name}}</h2>
            <h3>{{description}}</h3>
            <event-form objectId="{{_id}}">
                <paper-input-decorator label="Team's label" error="We need a label"
                                       floatingLabel>
                    <input is="core-input" name="name" id="teamName" type="text" value="{{name}}" required>
                </paper-input-decorator>

                <paper-input-decorator label="Team's description"
                                       floatingLabel>
                    <paper-autogrow-textarea id="autogrow-description">
                        <textarea id="teamDescription" name="description">{{description}}</textarea>
                    </paper-autogrow-textarea>
                </paper-input-decorator>
                
                <event-paper-button eventName="save-team">
                    <core-icon icon="check"></core-icon>
                    Save
                </event-paper-button>
            </event-form>


            {{#each members}}
            <tw-card>
                <h4>{{username}}</h4>                        
                <div>{{profile.firstname}}</div>
                <div>{{profile.lastname}}</div>
            </tw-card>
            {{/each}}                     

        </tw-team>
    </div>
</template>