<template name="PolymerLayout">

    <core-drawer-panel>

        <core-header-panel drawer>
            <core-toolbar id="navheader">
                <a href="/">Teamwork</a>
            </core-toolbar>            
            <core-menu>
                {{# if currentUser}}
                <a href="{{pathFor route='newActivity'}}">
                    <paper-item>
                        <core-icon icon="add"></core-icon>
                        New activity                   
                    </paper-item>       
                </a>
                <core-submenu icon="view-headline" label="Activities">                    
                    {{#each activities}}
                    <a href="{{pathFor route='activity'}}">
                        <paper-item>
                            <core-icon icon="work"></core-icon>
                            {{name}}                        
                        </paper-item>
                    </a>
                    {{/each}}           
                </core-submenu>
                {{/if}}
                <a href="{{pathFor route='about'}}">
                    <paper-item>
                        <core-icon icon="help"></core-icon>
                        About                       
                    </paper-item>
                </a>
            </core-menu>
        </core-header-panel>

        <core-header-panel main>
            <core-toolbar>
                <core-icon-button icon="menu" core-drawer-toggle></core-icon-button>
                <div flex>{{viewLabel}}</div>
                {{#if currentUser}}
                <paper-item>
                    <a href="/sign-out"><core-icon icon="exit-to-app"></core-icon>Sign out</a>
                </paper-item>
                {{/if}}
                {{#unless currentUser}}
                <paper-item>
                    <a href="/sign-in">Sign In</a> 
                </paper-item>
                <paper-item>
                    <a href="/sign-up">Sign Up</a>
                </paper-item>
                {{/unless}}
            </core-toolbar>

            <div class="container" fullbleed layout vertical start center-justified>
                {{> yield}}        
            </div>
        </core-header-panel>
        
    </core-drawer-panel>

</template>