<template name="Activity">
    <div class="container-fluid">
        <!-- Activity function -->
        <div class="panel panel-primary" id="activityPanel" data-activity-id="{{_id}}">
            <div class="panel-heading">
                <h2 class="panel-title">{{name}}</h2>                
            </div>


            <!-- All the State are in one row to have a common size -->
            <div class="panel-body">
                <div class="well">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="input-group">
                                <select class="form-control" id="teamSelect">
                                    {{#each teams}}
                                    <option value="{{_id}}" {{selectedTeam}}>{{name}}</option>
                                    {{/each}}
                                </select>
                                <span class="input-group-btn">
                                    <button id="teamDetailBtn" class="btn btn-default" data-activity-id="{{_id}}" data-container="body" data-toggle="popover">Detail</button>
                                </span>
                                <div id="teamDetail-content" class="hide">
                                    <div class="list-group">
                                        <h4 class="list-group-item-heading">Members</h4>
                                        {{#each members}}                                        
                                            <p class="list-group-item-text">{{nickName}} - {{firstName}} {{name}}</p>                                        
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="input-group">
                                {{> inputAutocomplete settings=userSuggestSetting id="newMember" class="form-control" placeholder="Add member"}}
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="addMember">Add</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="input-group">
                                <input id="stateLabel" type="text" class="form-control" placeholder="Add state">
                                <span class="input-group-btn">
                                    <button id="addStateBtn" class="btn btn-default" data-activity-id="{{_id}}">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>

                <!-- Each State use a col -->
                {{#each states}}
                <div class="col-xs-2 col-md-2">

                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <span>{{label}}</span>
                            <a href="#" role="button" data-state-id="{{_id}}" name="deleteState">
                                <span class="badge pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </span>
                            </a>
                        </div>
                        <div class="panel-body">
                            <div class="list-group">
                                {{#each tasks}}
                                <a href="#" name="taskSummary" class="list-group-item" data-toggle="modal" data-target="#taskModal" data-task-id="{{_id}}">
                                    <h4 class="list-group-item-heading">{{label}}</h4>
                                    <p class="list-group-item-text">{{description}}...</p>
                                </a>
                                {{/each}}
                            </div>
                        </div>
                        <div class="panel-footer">                            
                            <div class="input-group" name="addTaskForm">
                                <input id="taskName{{_id}}" type="text" class="form-control" placeholder="New Task">
                                <span class="input-group-btn">
                                    <button name="addTaskBtn" class="btn btn-default" data-state-id="{{_id}}" data-activity-id="{{activity}}">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    {{> TaskDetail}}

</template>

<template name="TaskDetail">
    <!-- Modal -->
    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{#with task}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{label}}</h4>
                </div>
                <div class="modal-body">
                    <div role="form" id="taskForm">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text" class="form-control" id="description" placeholder="Add descprition">{{description}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="taskState">State</label>
                            <select class="form-control" id="taskState">
                                {{#each states}}
                                {{#if isStateSelected}}
                                <option value="{{_id}}" selected="selected">
                                    {{label}}
                                </option>
                                {{else}}
                                <option value="{{_id}}">
                                    {{label}}
                                </option>
                                {{/if}} >

                                {{/each}}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="comment">Comment</label>
                            <div class="form-inline">
                                <input type="text" class="form-control" id="comment" placeholder="Write a comment"/>
                                <button class="btn btn-default" id="addCommentBtn">Add</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Comments </label>
                            {{#each comments}}
                            <p>{{content}} - {{author}} - {{dateCreate}}</p>
                            {{/each}}
                        </div>
                        <button class="btn btn-default" id="saveTaskBtn">Save</button>
                        <button class="btn btn-default" id="deleteTaskBtn">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>

<template name="ActivityUserSuggest">
    <span class="label {{labelClass}}" data-member-userId="{{userId}}">{{firstName}} {{name}} - {{email}}</span>
</template>
