/*****************************************************************************/
/* Activity: Style */
/*****************************************************************************/
.task-column {
    width: 256px;
    padding-bottom: 50px;
}
.task-portlet {
    
}
.task-portlet-header {
}
.task-portlet-toggle {
}
.task-portlet-content {
    
}
.placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    background-color: lightgrey;
    height: 50px;
}