<template name="Activity">
    <div class="container-fluid">
        <!-- Activity function -->
        <div class="panel panel-primary" id="activityPanel" data-activity-id="{{initSession _id}}">
            <div class="panel-heading">
                <h2 class="panel-title">{{name}}&nbsp;                       
                    <button type="button" class="btn btn-default"  data-toggle="modal" data-target="#activitySettingsModal">
                        <span class="glyphicon glyphicon-cog"></span> Settings
                    </button>
                </h2>
            </div>


            <!-- All the State are in one row to have a common size -->
            <div class="panel-body">
                <div class="container" id="activity-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="list-group list-inline list-states">
                                {{#each states}}
                                <li class="list-group-item state" data-state-id="{{_id}}">
                                    <div class="dropdown state-title">
                                        <span>{{label}}</span>
                                        <a href="#" role="button" data-toggle="dropdown">
                                            <span class="badge pull-right" name="stateInfo">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li><a href="#" name="deleteState" data-state-id="{{_id}}">Delete</a></li>
                                            <li><a href="#" name="openNewTaskModal" data-state-id="{{_id}}" data-toggle="modal" data-target="#newTaskModal">Add task</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-group task-list" data-state-id="{{_id}}">
                                        {{#each tasks}}
                                        <a href="#" name="taskDetail" class="list-group-item task" data-toggle="modal" data-target="#taskDetailModal" data-task-id="{{_id}}">
                                            <h4 class="list-group-item-heading">{{label}}</h4>
                                            <p class="list-group-item-text">{{description}}...</p>
                                        </a>      

                                        {{/each}}
                                    </div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> TaskDetailModal}}

    {{> ActivitySettingsModal}}

    {{> NewTaskModal}}

</template>

<template name="TaskList">
    <ul class="list-group">
        {{#each tasks}}
        <li class="list-group-item">            
            <a href="#" name="taskDetail" class="list-group-item" data-toggle="modal" data-target="#taskDetailModal" data-task-id="{{_id}}">
                <div class="panel panel-info task-portlet">
                    <div class="panel-heading task-portlet-header">
                        <h3 class="panel-title">{{label}}</h3>
                    </div>
                    <div class="panel-body task-portlet-content">
                        {{description}}...
                    </div>
                </div>
            </a>            
        </li>
        {{/each}}
    </ul>
</template>