<template name="MaterialProfile">
    <div class="content" layout horizontal center-justified>
        <paper-shadow z="1" class="single-form">
            <div>
                <h2>Edit your profile</h2>
                <event-form-container>
                    <event-form objectId="{{_id}}">
                        <paper-input-decorator label="User's email" error="The email should be a the good format"
                                               floatingLabel>
                            <input is="core-input" name="email" id="userEmail" type="email" value="{{email}}" disabled="disabled">
                        </paper-input-decorator>

                        <paper-input-decorator label="User's fistname" floatingLabel>
                            <input is="core-input" name="firstname" id="userFirstName" type="text" value="{{profile.firstname}}">
                        </paper-input-decorator>

                        <paper-input-decorator label="User's lastname" floatingLabel>
                            <input is="core-input" name="lastname" id="userLastName" type="text" value="{{profile.lastname}}">
                        </paper-input-decorator>

                    </event-form>

                    <event-paper-button affirmative eventName="save-profile" id="sign-in-btn">
                        <core-icon icon="check"></core-icon>
                        Save
                    </event-paper-button>
                </event-form-container>
            </div>
        </paper-shadow>
    </div>
</template>