<template name="Home">

    <div class="content" layout vertical fit>
        <tw-card-list title="My activities" color="#2196F3">
            <div firstCards  layout horizontal>
                {{#each activitiesLast3}}
                <tw-card autoraise=true link="{{pathFor route='activity'}}" objectId="{{_id}}" objectType="activity" footerColor="#64B5F6">
                    <div vertical layout center center-justified>
                        <h2>{{label}}</h2>
                        <p>{{description}}</p>
                    </div>
                </tw-card>
                {{/each}}
            </div>
            <div allCards layout horizontal wrap>
                {{#each activities}}
                <tw-card autoraise=true link="{{pathFor route='activity'}}" objectId="{{_id}}"  objectType="activity" footerColor="#64B5F6">
                    <div vertical layout center center-justified>
                        <h2>{{label}}</h2>
                        <p>{{description}}</p>
                    </div>
                </tw-card>
                {{/each}}
            </div>
        </tw-card-list>
        <tw-card-list title="My teams" color="#009688">
            <div firstCards  layout horizontal>
                {{#each teamsLast3}}
                <tw-card autoraise=true link="{{pathFor route='team'}}" objectId="{{_id}}"  objectType="team" footerColor="#4DB6AC">
                    <div vertical layout center center-justified>
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                    </div>
                </tw-card>
                {{/each}}
            </div>
            <div allCards  layout horizontal>
                {{#each teams}}
                <tw-card autoraise=true link="{{pathFor route='team'}}" objectId="{{_id}}" objectType="team" footerColor="#4DB6AC">
                    <div vertical layout center center-justified>
                        <h2>{{name}}</h2>
                        <p>{{description}}</p>
                    </div>
                </tw-card>
                {{/each}}
            </div>
        </tw-card-list>
    </div>

    <paper-fab id="new-actity-btn" icon="av:my-library-add" class="blue" title="create an activity"></paper-fab>
    <paper-fab id="new-team-btn" icon="social:group-add" class="blue" title="create a team"></paper-fab>


    <paper-action-dialog transition="core-transition-fade" heading="Add an Activity" id="addActivityDialog" on-epb-click="alert('toto')">
        <event-form>
            <paper-input-decorator label="Activity's name" error="We need a name!"
                                   floatingLabel class="input-light">
                <input is="core-input" id="activityName" name="name" type="text" required>
            </paper-input-decorator>
            <paper-input-decorator label="Activity's description"
                                   floatingLabel>
                <paper-autogrow-textarea id="autogrow-description">
                    <textarea id="activityDescription" name="description"></textarea>
                </paper-autogrow-textarea>
            </paper-input-decorator>

            <paper-input-decorator label="Associate the Activity to a team or create a new one"
                                   floatingLabel>
                <paper-radio-group name="teamId" id="teamRadio" selected="new" vertical layout>
                    <paper-radio-button name="new" label="New team"></paper-radio-button>
                    {{#each teams}}
                    <paper-radio-button name="{{_id}}" label="{{name}}"></paper-radio-button>
                    {{/each}}
                </paper-radio-group>
                <input is="core-input" type="hidden">
            </paper-input-decorator>
        </event-form>
        <event-paper-button dismissive>Cancel</event-paper-button>
        <event-paper-button affirmative eventName="create-activity">Create</event-paper-button>
    </paper-action-dialog>


    <paper-action-dialog transition="core-transition-fade" heading="Add a Team" id="addTeamDialog">
        <event-form>
            <paper-input-decorator label="Team's name" error="We need a name!"
                                   floatingLabel class="input-light">
                <input is="core-input" id="teamName" name="name" type="text" required>
            </paper-input-decorator>
            <paper-input-decorator label="Team's description"
                                   floatingLabel>
                <paper-autogrow-textarea id="autogrow-description">
                    <textarea id="teamDescription" name="description"></textarea>
                </paper-autogrow-textarea>
            </paper-input-decorator>
        </event-form>
        <event-paper-button dismissive>Cancel</event-paper-button>
        <event-paper-button affirmative eventName="create-team">Create</event-paper-button>
    </paper-action-dialog>
</template>
