<template name="About">
    
    
        <div style="margin: 20px">
            <h3>
                Teamwork is an organizing activity application, designed to make any kind of activity, either personal, either team,
                easy to organise, to follow and to success. 
            </h3>                
            <p>
                Here, it's a demo of the current application that let you see what Teamwork is and what you can do with it. 
                This demo will be updated regularly depending of the evolution of the project.
            </p>

            <h4>How to use this demo of Teamwork?</h4>
            <ul>
                <li>First, create an account.</li>
                <li>Once you are connected, you can complete your profile (from the top menu -> Settings/Profile).</li>
                <li>Then, you can create your first activity with input field in the top menu. 
                    Since you create an Activity, a Team is also created with you as a member. You will be able to add people to it (from the top menu -> Settings/Teams).</li>
                <li>With the list-box "Activity" in the top menu, you can select the new created activity... </li>
                <li>And start to organise your task ;)</li>
            </ul>

            <p>
                Teamwork is an open-source project developped on <a href="https://github.com/OlivierPT/meteor-teamwork">Github</a>
            </p>
        </div>


</template>