<template name="NewTaskModal">
    <!-- Modal -->
    <div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{#with newTask}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="newTaskModalLabel">
                        <input type="text" class="form-control" id="newTaskLabel" placeholder="Task Label" value="{{label}}" />
                    </h4>
                </div>
                <div class="modal-body" id="newTaskModalBody">
                    {{> TaskForm}}                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createTaskBtn">Create</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>