<template name="MaterialActivity">
    <div style="width: 100%;">
        <tw-activity model='{{model}}'>
            <h2>{{name}}</h2>
            {{#each lists}}
            <tw-list listId="{{id}}" activityId="{{../_id}}" model="">
                <h3>{{label}}</h3>
                {{#each tasks}}
                <tw-task taskId="{{id}}" listId="{{../id}}" activityId="{{../../_id}}">
                    {{label}}
                </tw-task>                            
                {{/each}}
            </tw-list>
            {{/each}}
        </tw-activity>
    </div>
</template>