<template name="MaterialActivity">
    <div class="content">
        <tw-activity activityId="{{_id}}">
            <h2>{{name}}</h2>
            <h3>{{description}}</h3>
            <event-form-container class="main-form">
                <event-form objectId="{{_id}}">
                    <paper-input-decorator label="Activity's label" error="We need a label"
                                           floatingLabel>
                        <input is="core-input" name="name" id="activityName" type="text" value="{{name}}" required>
                    </paper-input-decorator>

                    <paper-input-decorator label="Activity's description"
                                           floatingLabel>
                        <paper-autogrow-textarea id="autogrow-description">
                            <textarea id="activityDescription" name="description">{{description}}</textarea>
                        </paper-autogrow-textarea>
                    </paper-input-decorator>


                </event-form>
                <event-paper-button raised affirmative eventName="save-activity" style="background: blue; color: white;">
                    <core-icon icon="check"></core-icon>
                    Save
                </event-paper-button>
            </event-form-container>
            {{#each lists}}
            <tw-list listId="{{id}}" activityId="{{../_id}}" model="">
                <h3>{{label}}</h3>
                {{#each tasks}}
                <tw-task taskId="{{id}}" listId="{{../id}}" activityId="{{../../_id}}"
                         hasDetails="{{taskHasDetail}}" hasComments="{{taskHasComments}}" isAssigned="{{taskIsAssigned}}"
                         hasDueDate="{{taskHasDueDate}}" hasCategory="{{taskHasCategory}}">
                    <span>{{label}}</span>
                    <event-form objectId="{{id}}">
                        <p>
                        <paper-input-decorator label="Task label" error="We need label!"
                                               floatingLabel class="input-light" required>
                            <input is="core-input" id="taskLabel" name="label" type="text" value="{{label}}" required>
                        </paper-input-decorator>
                        <paper-input-decorator label="Task's description"
                                               floatingLabel>
                            <paper-autogrow-textarea id="autogrow-description">
                                <textarea id="description" name="detail">{{detail}}</textarea>
                            </paper-autogrow-textarea>
                        </paper-input-decorator>            
                        <paper-input-decorator label="Add a comment"
                                               floatingLabel class="input-light">
                            <input is="core-input" id="taskLabel" name="comment" type="text">
                        </paper-input-decorator>
                        </p>
                    </event-form>
                </tw-task>                            
                {{/each}}
            </tw-list>
            {{/each}}
        </tw-activity>
    </div>
</template>