/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 janv. 2015, 11:20:23
    Author     : olivierpillaudtirard
*/

/* CSS declarations go here */
html,body {
    height: 100%;
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'RobotoDraft', sans-serif;
}

core-header-panel {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

core-toolbar {
    background: #03a9f4;
    color: white;
}

#tabs {
    width: 100%;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%;
    position: relative;
    top: 0px;
}

.content {
    width: 100%;
    margin-top: 20px;
    color: white;
}

.content-header {
    margin-left: 40px;
}

.separator {
    color: #DDD;
    margin: 0px;
}

.menu-entry {
    margin-left: 10px;
}

[drawer] {
    background-color: white !important;
    color: black;
}


[main] core-toolbar {
    background: #536dfe !important; 
    color: white;
}

/*
[main] {
    background-color: #03a9f4;
    color: white;
}
*/

.main-form::shadow .content {
    background-color: #E5E5E5 !important;
    color: black;
    padding: 20px;
}