<template name="ActivitySettings">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#main" role="tab" data-toggle="tab">Main</a></li>
        <li role="presentation"><a href="#team" role="tab" data-toggle="tab">Team</a></li>
        <li role="presentation"><a href="#tasks" role="tab" data-toggle="tab">Tasks</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="main">
            <div role="form">
                <!-- Label block -->
                <div class="form-group">
                    <label for="activityName">Label</label>
                    <input type="text" class="form-control" id="activityName" placeholder="Choose a Label" value="{{name}}"/>
                </div>
                <!-- End description block -->

                <!-- Description block -->
                <div class="form-group">
                    <label for="activityDescription">Description</label>
                    <textarea type="text" class="form-control" id="activityDescription" placeholder="Add descprition">{{description}}</textarea>
                </div>
                <!-- End description block -->
                <div class="form-group">
                    <label for="addState">Add a state</label>
                    <div class="input-group" id="addState">
                        <input id="newStateLabel" type="text" class="form-control" placeholder="Add state">
                        <span class="input-group-btn">
                            <button id="addStateBtn" class="btn btn-default" data-activity-id="{{_id}}">Add</button>
                        </span>
                    </div>
                </div>
                <!-- End Assignation block -->
            </div>
        </div>
        <!-- Team Panel -->
        <div role="tabpanel" class="tab-pane" id="team">
            <div role="form">
                <!-- Team block -->
                <div class="form-group">
                    <label for="team">Team</label>
                    <input type="text" class="form-control" id="teamName" placeholder="Choose a Label" value="{{activityTeam.name}}" disabled="disabled"/>
                </div>
                <!-- Add member block -->
                <div class="form-group">
                    <label for="addTeamMember">Add member</label>
                    <div class="input-group" id="addTeamMember">
                        {{> inputAutocomplete settings=memberSuggestSetting id="newMember" class="form-control" placeholder="Add member"}}
                        <span class="input-group-btn">
                            <button id="addTeamMemberBtn" class="btn btn-default" data-activity-id="{{_id}}">Add</button>
                        </span>
                    </div>
                </div>
                <!-- Member list block -->
                <div class="form-group">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First name</th>
                                <th>Last name</th>

                            </tr>
                        </thead>
                        <tbody>
                            {{#each members}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{profile.firstname}}</td>
                                <td>{{profile.lastname}}</td>
                            </tr>   
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="tasks">...Gestion des catégories...</div>

    </div>
</template>
