<template name="Menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">TeamWork</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {{#if currentUser}}
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Activities<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {{#each activities}}
                            <li>
                                <a href="{{pathFor route='activity'}}">
                                    {{name}}
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{pathFor route='teams'}}">Teams</a>
                            </li>
                            <li>
                                <a href="{{pathFor route='profile'}}">Profile</a>
                            </li>
                            <!--
                            <li>
                                <a href="{{pathFor 'Template'}}">Template</a>
                            </li>
                            -->
                        </ul>
                    </li>
                </ul>
                <div id="createActivityForm" class="navbar-form navbar-left" role="form">                    
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createActivityModal">
                    New Activity
                    </button>
                </div>


                <div id="searchForm" class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button class="btn btn-default">Search</button>
                </div>
                {{/if}}
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons }}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    {{> CreateActivity }}
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>


<template name="CreateActivity">
    <!-- Modal -->
    <div class="modal fade" id="createActivityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{#with newActivity}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">New Activity</h4>
                </div>
                <div class="modal-body" id="taskDialogBody">                    
                   {{> ActivityForm }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="createActivityBtn">Create</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
</template>