<template name="SignUp">
    <div class="content" layout horizontal center-justified>
        <paper-shadow z="1" class="single-form">
            <div>
                <h2>Sign up for Teamwork</h2>
                <event-form-container>
                    <event-form>
                        <paper-input-decorator label="Username" error="We need a username"
                                               floatingLabel class="input-light">
                            <input is="core-input" name="username" id="username" type="text" required>
                        </paper-input-decorator>

                        <paper-input-decorator label="Email Address" error="We need a valid email!"
                                               floatingLabel class="input-light">
                            <input is="core-input" name="email" id="email" type="email" required>
                        </paper-input-decorator>

                        <paper-input-decorator label="Password" error="Whats your password?"
                                               floatingLabel class="input-light">
                            <input is="core-input" name="password" id="password" type="password" required>
                        </paper-input-decorator>

                        <paper-input-decorator label="Confirm password" error="Whats your password?"
                                               floatingLabel class="input-light">
                            <input is="core-input" name="password2" id="password2" type="password" required>
                        </paper-input-decorator>
                    </event-form>

                    <event-paper-button affirmative eventName="sign-up" id="sign-up-btn">
                        <core-icon icon="check"></core-icon>
                        Sign Up
                    </event-paper-button>
                </event-form-container>
            </div>
        </paper-shadow>
    </div>
</template>