<template name="MaterialActivity">
    <div vertical layout class="material-activity" style="overflow-x:scroll;">  
        <div class="material-state-list" horizontal layout>
            {{#each states}}
            <paper-shadow z="1" style="margin-right: 20px">
                <div class="material-state">
                    <div class="material-state-title" horizontal layout>
                        <span>{{label}}</span>
                    </div>
                    <div class="material-task-list" vertical layout>
                        {{#each tasks}}
                        <tw-task>
                            <h3>{{label}}</h3>
                            <p>{{description}}...</p>
                        </tw-task>                            
                        {{/each}}
                    </div>
                </div>
            </paper-shadow>
            {{/each}}
        </div>
        <paper-fab id="new-state-btn" icon="create" class="blue" title="create"></paper-fab>
    </div>

    <paper-action-dialog transition="core-transition-fade" heading="Add a state" id="new-state-dialog">
        <p>
        <paper-input-decorator label="State label" error="We need label!"
                               floatingLabel class="input-light">
            <input is="core-input" id="newStateLabel" type="text" required>
        </paper-input-decorator>
        </p>
        <paper-button dismissive>Cancel</paper-button>
        <paper-button affirmative autofocus id="add-state-btn" data-target-activity-id="{{_id}}">Create</paper-button>
    </paper-action-dialog>

</template>