<template name="Home">

    <div style="width: 100%;" layout horizontal center center-justified >
        <div horizontal center-justified layout>
            <h2>To start</h2>
        </div>
        <div horizontal center-justified layout>
            <p>
                <a href="/sign-in"><paper-button class="btn" raised>Sign In</paper-button></a> or 
                <a href="/sign-up"><paper-button class="btn" raised>Sign Up</paper-button></a>
            </p>
        </div>
    </div>

</template>