<template name="Team">
    <div class="container-fluid">
        <!-- Activity function -->
        <div class="panel panel-primary" id="teamPanel" data-team-id="{{_id}}">
            <div class="panel-heading">
                <h2 class="panel-title">Team management</h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2 col-md-4">
                        <!-- Member list -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Team informations</div>
                            <div  class="panel-body">
                                <!-- Team creation -->
                                <div role="form" id="teamForm">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="teamName" placeholder="Team name" value="{{name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea type="text" class="form-control" id="teamDescription" placeholder="Add descprition">{{description}}</textarea>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn btn-default" id="saveTeamInfoBtn">Save</button>
                                    </div>                        
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col Team info -->
                    <div class="col-xs-4 col-md-8">
                        <!-- Member list -->
                        <div class="panel panel-default">
                            <div class="panel-heading">Member List</div>
                            <div  class="panel-body">
                                <div class="input-group">
                                    {{> inputAutocomplete settings=userSuggestSetting id="newMember" class="form-control" placeholder="New member"}}
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="addMember">Add</button>
                                    </span>
                                </div>


                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Username</th>
                                            <th>First name</th>
                                            <th>Last name</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each users}}
                                        <tr>
                                            <td>{{username}}</td>
                                            <td>{{profile.firstname}}</td>
                                            <td>{{profile.lastname}}</td>
                                            <td>
                                                <a href="#" role="button" data-user-id="{{userId}}" name="removeMember">
                                                    <span class="badge pull-right">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>   
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> <!-- end col team members -->
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</template>

<template name="TeamMemberSuggest">
    <span class="label {{labelClass}}" data-member-userId="{{_id}}">>{{profile.firstname}} {{profile.lastname}} - {{username}}</span>
</template>